<body class="landing" style="margin:0 !important; padding:0 !important;">

  <header>
    <div class="container">
      <h1><a href="index.html"><img src="assets/images/logo.svg" alt="EclipX Education" title="EclipX Education"></a></h1>
    </div>
  </header>
  <h1 class="text-center">Quick Quote</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 main">

        <!-- <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-dark active" (click)="selectedCalculation('calculate-repayments')">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Calculate <br>Repayments
          </label>
          <label class="btn btn-dark" (click)="selectedCalculation('calculate-affordability')">
            <input type="radio" name="options" id="option2" autocomplete="off"> Calculate <br>Affordability
          </label>
        </div> -->
        <h2>Lease Type</h2>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-red active" (click)="selectedLeaseType('v5-operating-lease-eclipx-education')">
            <input type="radio" name="options1" id="option3" autocomplete="off" checked> Operating lease
          </label>
          <label class="btn btn-red" (click)="selectedLeaseType('v5-lease-to-own-eclipx-education')">
            <input type="radio" name="options1" id="option4" autocomplete="off"> Lease to Own
          </label>
        </div>
        <table class="table table-red">
          <tbody>
          <tr>
            <td>
              Lease Amount:
              <span class="small">(Ex GST)</span>
            </td>
            <td><!-- $5,678.90 -->
              <input type="tel" appCurrencyFormatter class="form-control" placeholder="$0.00" [(ngModel)]="leaseAmount" (input)="calculate()" name="currencyInput">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-6 main">
        <h2 class="text-danger">{{leaseTypeTitle}}</h2>
        <h3>YOUR INDICATIVE QUARTERLY PAYMENTS (Ex GST)</h3>
        <table class="table">
          <tbody>
          <tr *ngFor="let result of results; let i = index;" name="results" >
            <td>{{result.label || result.message[0]}}</td>
            <td>{{result.amount}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-sm-6 bottom">
        <div class="btn-group terms" data-toggle="buttons">
          <div class="holder" (click)="togglePrivacy()">
            <label class="btn btn-checkbox">
              <input type="checkbox" autocomplete="off" name="privacyCheckbox">
            </label>
          </div>
          <p class="small">
            I have read and agree to Eclipx NZ’s  <a href="#" data-toggle="modal" data-target="#privacy">privacy statement</a>
          </p>
        </div>
        <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <!-- <iframe src="/src/assets/privacy-policy.html" frameborder="0"></iframe> -->
              <h2 style="text-align: center"><img src="assets/images/logo.svg" alt="EclipX" width="139" height="69"></h2>

              <h2>Calculator Terms of Use</h2>

              <p>These <a href="http://www.eclipxcommercial.co.nz/website-terms-use">terms of use</a> apply to this Eclipx Education Calculator mobile application (Eclipx app), which is operated by Eclipx NZ Limited (Eclipx Commercial). You acknowledge and accept that by downloading the Eclipx app you accept these <a href="http://www.eclipxcommercial.co.nz/website-terms-use">terms of use</a> and the privacy policy for Eclipx Commercial and its related entities (Eclipx Group).</p>

              <p>These are the current <a href="http://www.eclipxcommercial.co.nz/website-terms-use">terms of use</a> and the privacy policy is the current privacy policy. They replace any previous <a href="http://www.eclipxcommercial.co.nz/website-terms-use">terms of use</a> or privacy policies published by Eclipx Group. Eclipx Group may at any time vary the <a href="http://www.eclipxcommercial.co.nz/website-terms-use">terms of use</a> or the privacy policy by publishing the amended versions on the Eclipx app or website, as applicable.</p>

              <p>Although Eclipx Group strives to protect your personal information, it cannot warrant the security of any information you transmit to or from the Eclipx app and you do so at your own risk.
                Accessing links from the Eclipx app will transfer you to the Eclipx Commercial website. The Eclipx Commercial website is governed by its terms of use.</p>

              <p>The terms of the Eclipx app will be governed by the laws of New Zealand and you agree to the exclusive jurisdiction of the courts of New Zealand should a dispute arise.</p>

              <h2>THIRD PARTY SOFTWARE</h2>
              <p>Accessing links from the Eclipx app will transfer you to your web browser, which is a third party product. Your web browser may be subject to a licence agreement between you and the relevant product owner. To the extent permitted by law, Eclipx Group accepts no liability in respect of such third party products and Eclipx Group provides no warranty and gives no endorsement in respect of such products or any party connected with them.</p>

              <h2>ECLIPX GROUP PRODUCT INFORMATION AND SUPPLY</h2>
              <p>Material on the Eclipx app may contain general information about Eclipx Group products and services. Unless expressly stated otherwise, this information does not constitute an offer or inducement to enter into a legally binding contract and does not form part of the terms and conditions</p>
            </div>
          </div>
        </div>
        <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <!-- <iframe src="/src/assets/privacy-policy.html" frameborder="0"></iframe> -->
              <h2 style="text-align: center"><img src="assets/images/logo.svg" height="69" width="139" alt="EclipX"></h2>
              <h2>Eclipx Group Privacy Policy</h2>
              <p>I acknowledge that Eclipx NZ Limited (Eclipx) has informed me that a copy of its <a href="http://www.eclipxcommercial.co.nz/quote-tool-privacy-statement">privacy policy</a> (Privacy Policy) can be accessed at <a style="text-decoration: underline;" href="http://www.eclipxcommercial.co.nz/privacy-policy">http://www.eclipxcommercial.co.nz/privacy-policy</a> .  I consent to members of the Eclipx Group (as defined in the Privacy Policy) obtaining, holding, using and disclosing my personal information in accordance with the Privacy Policy.  This includes using my personal information for the purposes of informing me about other Eclipx Group products and services.  My personal information will be held by Eclipx NZ Limited (Eclipx)  at Level 35, Vero Centre, 48 Shortland Street, Auckland, 1010.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 bottom">
        <div class="form-group">
          <label for="email">Email Quote:</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email" name="emailInput">
        </div>
        <p class="text-center">
          <button class="btn btn-red" type="submit" (click)="emailQuote()">{{emailSendText}}</button>
        </p>
      </div>
    </div>
    <p class="text-center"><strong>Apply now!</strong> Talk to a Leasing Specialist <br><a href="tel:0800999409" class="btn btn-dark">CALL NOW</a></p>
  </div>

<div class="main">
  <div class="content">
    <form action="#">
    </form>
  </div>
  <ul class="footer">
    <li><a href="mailto:marketing@eclipx.co.nz?subject=A problem with the Eclipx Education NZ Quote Tool">Report a problem</a></li>
    <br/>
    <li><a href="#" data-toggle="modal" data-target="#terms">Terms of Use</a></li>
    <br/>
    <li>&copy; Eclipx Group</li>
    <br/>
  </ul>
</div>
<div class="loading" style="display:none;">
  <img src="assets/images/tail-spin.svg" alt="loading">
</div>
</body>
